ul {
    list-style-type: none;
}

ul li {
    color: dodgerblue;
    display: inline;
}

.dialogdemoBasicUsage #popupContainer {
  position: relative;
}
 
#login-dialog {
  max-width: 90%;
  width: 500px;
}

.btn2 {
    background-color: transparent;
    border-color: transparent;
    color: dodgerblue;
    
}

.modal-content {
    
  background-color: rgba(255, 255, 255, 0.85);
    border-color: transparent;
}