<div class="stripe2"></div>


<div class="display">

    <div class="container2">
        <div class="row">
            <div class="col1">
            <div class="image">
                <div class="image"><img src="assets/img/summonerIcon.jpeg"></div></div>
                
            <div class="chien">
            <button style="margin: 0 ;font-size: 0.8vw;" type="button" class="btn btn-info">Update</button>
                    <div class="maj">Dernière mise à jour:</div></div>
                            </div>

            <div class="col2">
               <div class="container3">
                    <div class="pseudo">{{ pseudo }}</div>
                    <div class="level">Level 32</div>
                    <div style="font-weight: 700;">KDA:</div>
                    <div style="font-weight: 700;">WR: </div>






                </div>
            
            </div>
            <div class="stripe3"></div>
            <div class="col3">
                    <app-radarchart></app-radarchart>        
            </div>
            <div class="col4">           
                <app-linechart></app-linechart>
            </div>

    </div>
       


            
    
</div>
    <div class="stripe"></div>
  <div class="container">  
    <app-board></app-board>
    </div>


  
</div>
