.row {
    
 justify-content: space-between;
    display: flex;
        flex-wrap: wrap;    


}

.col {
    text-align: center;
    background-color: white;
    height: 350px;
    padding: 1%;
    margin: 1%;
    padding-top: 5%;
    border-radius: 25% 10%;
}

.container {
    
    height: 550px;
}