<header>


</header>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="linechart">
        <canvas baseChart width="300" height="150"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>

    </div>
  </div>




</div>
