<nav class="navbar navbar-expand-md navbar-empty bg-empty mb-4">
    
    
  <a href="index.html" class="navbar-brand"><img src="assets/img/headerLogo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div style="right: auto" class="collapse navbar-collapse" id="navbarSupportedContent">

 
   <div class="container">
       <div class="row">
           <div class="col"></div>


      <div class="col">
           <app-login></app-login>
       </div>
       </div>

  <div class="row">

                 <div class="col"></div>


    <div class="col">
             <app-pseudo-form></app-pseudo-form>

    </div>
  </div>
    </div>
    </div>

</nav>
