.btn-primary {
    
    background-color: mediumaquamarine;
    border-color: mediumaquamarine
<<<<<<< HEAD
=======
}

ul {
    
    list-style-type: none;
}

ul li {
    
    display: inline;
>>>>>>> parent of d7735eb... update graphique index
}