.btn-primary {
    
    background-color: mediumaquamarine;
    border-color: mediumaquamarine;
}

ul {
    
    list-style-type: none;
}

ul li {
    
    display: inline;
}

.signin { 
    margin-right: 10%;
    color:dodgerblue;
    
    
}

.signup {
    
     color:dodgerblue;
}

.mb-4 {
    
margin-bottom:  0.5rem!important;
}

.stripe {
    
    width: 150%;
    height: 5px;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: mediumaquamarine;
    
}

.col {
    text-align: center;
      display: flex;
    justify-content: center;
}

.row {
    margin-right: 0px;
}