.jumbotron { 
    font-family: Open Sans,sans-serif;
    height: auto;
    color: #FFFFFF;
    background: none;
   padding:  0rem 2rem;
    margin-bottom: 3%;

    
} 
    
    

.btn-primary {
    
    background-color: mediumaquamarine;
    border-color: mediumaquamarine
}

.btn-group-lg>.btn, .btn-lg {
    
        border-radius: 2.3rem;
        font-size: 1.15rem;

    
}