.jumbotron { 
    height: auto;
    color: #FFFFFF;
    background: none;
   padding:  0rem 2rem;
    margin-bottom: 3%;
} 
    
    

.btn-primary {
    
    background-color: mediumaquamarine;
    border-color: mediumaquamarine
}