.jumbotron { 
    height: 500px;
    color: #FFFFFF;
<<<<<<< HEAD

=======
    background: none;
>>>>>>> parent of d7735eb... update graphique index
} 
    
    

.btn-primary {
    
    background-color: mediumaquamarine;
    border-color: mediumaquamarine
}